
    <title>Diamond Story - About</title>

    <center>
        <video  width="800" height="500" controls autoplay>
          <source src="img/vdimo.mp4" type="video/webm"/>
        </video>


        <p> 
          <h1>A TRADITION OF SCIENCE AND EDUCATION</h1> <br>
  
          Established in 1931, GIA is the world’s foremost authority on diamonds, colored stones, and pearls.<br> A public benefit, nonprofit institute, GIA is the leading source of knowledge,<br> standards, and education in gems and jewelry
          </p>


      </center>
    
      
  

     
