

<div class="box">
	<div class="child"> 
		<div class="images">
			<img src="img/89.jpg" />
			<p>Two Butterfly between the finger ring</p>
		</div>
		<div class="images">
			<img src="img/87.jpg"  />
			<p>Butterfly Sihouette open diamond bangle</p>
		</div>
		<div class="images">
			<img src="img/86.jpg"  />
			<p>Butterfly diamond ring white gold</p>
		</div>
		<div class="images">
			<img src="img/85.jpg"  />
			<p>Pavé butterfly diamond stud earrings</p>
		</div>
	</div>
	<div class="child"> 
		<div class="images">
			<img src="img/84.jpg"  />
			<p>Diamond butterfly bracelet</p>
		</div>
		<div class="images">
			<img src="img/83.jpg" />
			<p>Diamond butterfly ring</p>
		</div>
		<div class="images">
			<img src="img/82.jpg"  />
			<p>De Beers Diamond Ring</p>
		</div>
		<div class="images">
			<img src="img/81.jpg"  />
			<p>De Beers Jewelers</p>
		</div>
	</div>


</div>
