
  
<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
  
    <a href="/col1" class="col text-center collection__link">
      <div class="collection__img shadow">
        <img src="img/87.jpg" alt="View All collection" loading="lazy">
       
      </div> <div class="pt-1">Flower Bloom</div>
    </a>
  
    <a href="/col2" class="col text-center collection__link">
        <div class="collection__img shadow">
          <img src="img/66.jpg" alt="View All collection" loading="lazy">
        
        </div>
      <div class="pt-1">Ethereal Butterfiles</div>
      </a>
   
      <a href="/col3" class="col text-center collection__link">
        <div class="collection__img shadow">
          <img src="img/p.jpg" alt="View All collection" loading="lazy">
          
        </div>
       <div class="pt-1">PInk</div>
      </a>
  
     
    
  </div>


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>