
<link rel = "stylesheet" href="/css/styles.css">

<div class="d-xl-flex ">

</div>
<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
      <img src="/img/Group 1.png" width="407" height="310" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="error">
    </div>
  
    <div class="col-12 col-lg-6">
      <h1 class="display-5 fw-bold mb-3"> We believe in making every woman feel </h1>
      <p class="lead">
         precious, unique  attractive and lovable.
      </p>
      <h1>          




    </h1>
  
  <h1>          
  
  
  
    
  </h1>

      <div class="d-grid gap-2 d-md-flex justify-content-md-start text-sm">
        <a href="/collection" class="btn btn-primary btn-dark btn-lg px-2 me-md-2">Explore Collection</a>
        <a href="/aboutus" class="btn btn-outline-secondary btn-lg px-2 me-md-2">Show our story</a>
      </div>
  
    </div>
  
  </div>

  <br>




  
   
<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
  
  <a href="/col1" class="col text-center collection__link">
    <div class="collection__img shadow">
      <img src="img/87.jpg" alt="View All collection" loading="lazy">
     
    </div>
  </a>

  <a href="/col2" class="col text-center collection__link">
      <div class="collection__img shadow">
        <img src="img/66.jpg" alt="View All collection" loading="lazy">
      
      </div>
    
    </a>
 
    <a href="/col3" class="col text-center collection__link">
      <div class="collection__img shadow">
        <img src="img/p.jpg" alt="View All collection" loading="lazy">
      </div>
    
    </a>

   
  
</div>
  <br>
  <br>
  <br>
